.padding-top-70 {
    padding-top: 70px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-right-10 {
    margin-right: 10px;
}

.list-group-striped > div:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.form-sub-title {
    font-weight:initial;
    margin-top:3px;
}
