<div class="container-fluid margin-top-15" ng-controller="MatchController">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary pull-right margin-right-10" ng-click="createNewMatch();">
            Create Match
        </button>
    </div>
    <div ng-show="clicked">
        <p>{{left.firstname}} {{left.lastname}} and {{right.firstname}} {{right.lastname}} will now sing {{song.title}} by {{song.interpreter}}.</p>
    </div>
    <br />
    <div class="col-md-12">
        <div class="list-group-item" ng-repeat="pairing in history">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="list-group-item-heading">{{pairing.left.firstname}} {{pairing.left.lastname}} and {{pairing.right.firstname}} {{pairing.right.lastname}}</h4>

                    <p class="list-group-item-text"><i>{{pairing.songToSing.title}} by {{pairing.songToSing.interpreter}}</i></p>
                </div>
            </div>
        </div>
    </div>
</div>
