<div class="container-fluid margin-top-15" ng-controller="SingerController">
    <div ng-show="!singerListLoaded">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <i class="fa fa-spin fa-circle-o-notch fa-3x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group list-group-striped margin-top-15" ng-show="singerListLoaded">
        <div class="list-group-item" ng-repeat="singer in singerList">
            <div class="row" ng-show="!editMode || (editMode && singer._id != actualEditSinger._id)">
                <div class="col-md-10">
                    <h4 class="list-group-item-heading">{{singer.firstname}}</h4>

                    <p class="list-group-item-text"><i>{{singer.lastname}}</i></p>
                </div>

                <div class="col-md-2" ng-show="!editMode">
                    <button type="button" class="btn btn-danger pull-right margin-right-10"
                            ng-click="deleteSinger(singer);">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-default pull-right margin-right-10"
                            ng-click="editSinger(singer);">
                        <i class="fa fa-pencil"></i>
                    </button>
                </div>
            </div>

            <div class="row" ng-show="editMode && singer._id == actualEditSinger._id">
                <div class="col-md-10">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="singerFirstname" class="col-sm-2 control-label">Firstname</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="singerFirstname"
                                       ng-model="singer.firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="singerLastname" class="col-sm-2 control-label">Lastname</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="singerLastname" ng-model="singer.lastname">
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-md-2">
                    <button type="button" class="btn btn-warning pull-right margin-right-10"
                            ng-click="cancelEditSinger();">
                        <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-primary pull-right margin-right-10"
                            ng-click="saveEditedSinger(singer);">
                        <i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top-15" ng-show="singerListLoaded">
        <div class="pull-right">
            <button id="addNewSinger" type="button" class="btn btn-primary" ng-click="addSinger();"
                    ng-show="!addNewSinger">
                <i class="fa fa-plus"></i> Add new singer
            </button>
        </div>

        <div class="row" ng-show="addNewSinger">
            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="newSingerFirstname" class="col-sm-2 control-label">Firstname</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newSingerFirstname" placeholder="Firstname"
                                   ng-model="newSinger.firstname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newSingerLastname" class="col-sm-2 control-label">Lastname</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newSingerLastname" placeholder="Lastname"
                                   ng-model="newSinger.lastname">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-warning pull-right margin-right-10"
                        ng-click="cancelAddNewSinger();">
                    <i class="fa fa-times"></i>
                </button>
                <button type="button" class="btn btn-primary pull-right margin-right-10" ng-click="saveNewSinger();">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>
    </div>

</div>