<div class="container-fluid margin-top-15" ng-controller="SongController">
    <div ng-show="!songListLoaded">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <i class="fa fa-spin fa-circle-o-notch fa-3x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group list-group-striped margin-top-15" ng-show="songListLoaded">
        <div class="list-group-item" ng-repeat="song in songList">
            <div class="row" ng-show="!editMode || (editMode && song._id != actualEditSong._id)">
                <div class="col-md-10">
                    <h4 class="list-group-item-heading">{{song.title}}</h4>

                    <p class="list-group-item-text"><i>{{song.interpreter}}</i></p>
                </div>

                <div class="col-md-2" ng-show="!editMode">
                    <button type="button" class="btn btn-danger pull-right margin-right-10"
                            ng-click="deleteSong(song);">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-default pull-right margin-right-10" ng-click="editSong(song);">
                        <i class="fa fa-pencil"></i>
                    </button>
                </div>
            </div>

            <div class="row" ng-show="editMode && song._id == actualEditSong._id">
                <div class="col-md-10">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="songTitle" class="col-sm-2 control-label">Title</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="songTitle" ng-model="song.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="songInterpreter" class="col-sm-2 control-label">Interpreter</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="songInterpreter"
                                       ng-model="song.interpreter">
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-md-2">
                    <button type="button" class="btn btn-warning pull-right margin-right-10"
                            ng-click="cancelEditSong();">
                        <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-primary pull-right margin-right-10"
                            ng-click="saveEditedSong(song);">
                        <i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top-15" ng-show="songListLoaded">
        <div class="pull-right">
            <button id="addNewSong" type="button" class="btn btn-primary" ng-click="addSong();" ng-show="!addNewSong">
                <i class="fa fa-plus"></i> Add new song
            </button>
        </div>

        <div class="row" ng-show="addNewSong">
            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="newSongTitle" class="col-sm-2 control-label">Title</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newSongTitle" placeholder="Title"
                                   ng-model="newSong.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newSongInterpreter" class="col-sm-2 control-label">Interpreter</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newSongInterpreter" placeholder="Interpreter"
                                   ng-model="newSong.interpreter">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-warning pull-right margin-right-10" ng-click="cancelAddNewSong();">
                    <i class="fa fa-times"></i>
                </button>
                <button id="saveNewSong" type="button" class="btn btn-primary pull-right margin-right-10"
                        ng-click="saveNewSong();">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>
    </div>

</div>